.new-mine-main {
	background-color: rgb(41, 50, 60);
	align-content: center;
	display: flex;
	flex: 7;
	flex-direction: column;
	padding: 10px;
	min-width: 300px;
}

@media (min-width: 736px) {
	.new-mine-main {
		height: 100%;
		padding-top: 140px;
	}
}

.new-mine-form {
	background-color: rgb(30, 36, 43);
	margin: 20px;
	margin-top: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	min-height: fit-content;
	border-left: solid 2px #f29220;
	/* border-radius: 15px; */
	/* box-shadow: 1px 1px 30px 15px rgba(14, 16, 31, 0.377); */
	/* box-shadow: 1px 1px 1px 0px rgb(33, 33, 33); */
	/* border: 4px solid  #838281; */
}

/* this is big mode */
@media (min-width: 736px) {
	.new-mine-form {
		margin-top: 10px;
	}
}

.link-input,
.title-input,
.body-input {
	background-color: rgb(118, 118, 118);
	color: black;
	border: none;
	padding: 15px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: monospace;
	font-size: medium;
}

.body-input {
	height: 60px;
	resize: none;
	margin-bottom: 20px;
}

hr {
	width: 50vw;
	margin-top: 30px;
	margin-bottom: 25px;
}

/* form {
	align-self: center;
	justify-content: space-between;
} */

.colorIndicator__NewMine {
	padding-bottom: 10px;
	margin-left: 18px;
	background-color: #f29220;
	margin-bottom: 5px;
	margin-top: 8px;
	height: 8px;
	width: 60px;
	border-radius: 15px;
}

.NewMine__controls {
	color: white;
	display: flex;
	align-items: baseline;
	justify-content: right;
	padding-left: 90px;
	margin-top: 20px;
	font-size: 13px;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
}
button {
	all: unset;
}
.NewMine__controls--update,
.NewMine__controls--create {
	text-decoration: none;
	color: white;
	font-size: small;
	font-weight: bold;
	font-family: 'IBM Plex Sans', sans-serif;
	padding: 10px;
	padding-bottom: 8px;
	border-top: solid 1px grey;
	margin-left: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.NewMine__controls--update:hover,
.NewMine__controls--create:hover {
	color: rgb(30, 36, 43);
	background-color: rgb(182, 179, 179);
	border-top: solid 1px rgb(182, 179, 179);
}
