
.new-mine-main{
  background-color: #dee9f1 ;
  align-content: center;
  display: flex;
  flex: 7;
  flex-direction: column;
  padding: 10px;
}

@media (min-width: 736px) {
  .main {
    height: 100%;
  }
}

.new-mine-form{
  background-color: #dee9f1; 
  display: flex;
  flex-direction: column;
}

.link-input, .title-input, .body-input {
  border: none;
  padding: 15px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  
}

.body-input{
 
  height: 60px;
  resize: none;
  margin-bottom: 20px;
 
}


hr{
  width: 50vw;
  margin-top: 30px;
  margin-bottom: 25px;
}

form{
  align-self: center;
  justify-content: space-between;
}

.submit-button{
  align-self: center;
  text-decoration: inherit;
  color: rgb(29, 27, 24);
  font-size: small;
  font-weight: bold;
  padding-left: 10px;
}

