.new-mine-main {
	background-color: rgb(41, 50, 60);
	align-content: center;
	display: flex;
	flex: 7;
	flex-direction: column;
	padding: 10px;
}

@media (min-width: 736px) {
	.main {
		height: 100%;
	}
}

.new-mine-form {
	background-color: rgb(30, 36, 43);
	margin: 20px;
	margin-top: 10px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	min-height: fit-content;
	/* box-shadow: 1px 1px 30px 15px rgba(14, 16, 31, 0.377); */
	/* box-shadow: 1px 1px 1px 0px rgb(33, 33, 33); */
	/* border: 4px solid  #838281; */
	border-radius: 15px;
}

/* this is big mode */
@media (min-width: 736px) {
	.new-mine-form {
		margin-top: 10px;
	}
}

.link-input,
.title-input,
.body-input {
	background-color: rgb(118, 118, 118);
	color: black;
	border: none;
	padding: 15px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	font-family: monospace;
	font-size: medium;
	/* box-shadow: 0px 0px 5px 1px rgb(18, 21, 26); */
}

.body-input {
	height: 60px;
	resize: none;
	margin-bottom: 20px;
}

hr {
	width: 50vw;
	margin-top: 30px;
	margin-bottom: 25px;
}

form {
	align-self: center;
	justify-content: space-between;
}

.create-mine-button,
.update-mine-button {
	align-self: center;
	text-decoration: inherit;
	color: rgb(24, 29, 24);
	font-size: small;
	font-weight: bold;
	font-family: 'IBM Plex Sans', sans-serif;
	padding: 10px;
	padding-bottom: 8px;
	background-color: #c7c5c5;
	border-radius: 8px;
	margin-left: 20px;
}

.create-mine-button:hover,
.update-mine-button:hover {
	background-color: rgb(53, 131, 56);
}
