.sidebarRight {
	display: none;
	/* flex:1.5; */
	flex-direction: column;
	height: 100vh;
}

@media (min-width: 736px) {
	.sidebarRight {
		display: flex;
		flex-direction: column;
		height: 100vh;
		/* background-image:linear-gradient( #dad8d8, white); */
		background-color: rgb(41, 50, 60);
		/* min-width: fit-content; */
		width: 160px;
		float: right;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		justify-items: center;
	}

	/* .gem-cabinet {
		color:   rgb(41, 50, 60);
		color: rgb(197, 205, 214);
		text-decoration: none;
		padding-right: 20px;
		padding-left: 20px;
		font-size: small;
		font-family: 'IBM Plex Sans', sans-serif;
		letter-spacing: 1px;
  }
  
  

	.gem-cabinet :hover {
		color: #ecc113;
	} */
}
