.sidebarRight {
  display: none;
  /* flex:1.5; */
  flex-direction: column;
  height: 100vh;

 
 
}

@media (min-width: 736px) {
  .sidebarRight {
    display: inline-flex;
    height: 100vh;
    background-image:linear-gradient( #d2fdff, white);
    min-width: fit-content;
    max-width:250px ;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
  }
}