.noteControl-title {
	text-decoration: none;
	padding-top: 16px;
	margin: 0;
	font-size: small;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	height: 25px;
	align-self: center;
	word-wrap: break-word;
}

.noteControl-icon {
	padding-right: 10px;
	/* padding-top: 2px; */
	margin-top: 0;
	font-size: 04px;
	align-self: center;
	height: 17px;
	width: 17px;
}

/* .noteControl-right {
	display: flex;
	align-items: center;
	padding-right: 25px;
	cursor: pointer;
	/* padding-top: 12px; 
} */

/* small mode */
@media (max-width: 735px) {
	.newNote__Button {
		display: flex;
		position: fixed;
		padding-left: 12px;
		word-break: normal;
	}
}
/* big mode */
@media (min-width: 736px) {
	.newNote__Button {
		display: flex;
		position: fixed;
	}
}
