.sidebarLeft {
	/* this is small mode */
	display: flex;
	flex: 0;
	flex-direction: row;
	height: 100vh;
	margin-top: 0px;
	padding-left: 15px;
	padding-bottom: 0px;
	background-color: rgb(41, 50, 60);
	word-wrap: break-word;
	align-content: space-around;
}

.noteControlsLeft {
	display: flex;
	align-items: center;
	padding-right: 25px;
	cursor: pointer;
	padding-top: 10px;
}

/* @media (min-width: 736px) {
	.noteControlsLeft {
		visibility: hidden;
		position: static;
		background: hotpink;
	}
} */

/* small mode */
@media (max-width: 735px) {
	.optionHolder {
		align-content: space-around;
		display: flex;
		margin-bottom: 18px;
	}
	.sidebarLeft {
		display: flex;
	}
	.home .addMine,
	.noteControlsLeft {
		position: fixed;
	}
	.noteControlsLeft {
		padding-top: 25px;
	}
}

@media (min-width: 736px) {
	.sidebarLeft {
		display: flex;
		flex-direction: column;
		/* background-image:linear-gradient( #092b06, white); */
		background-color: rgb(41, 50, 60);
		min-width: 150px;
		max-width: 175px;
		padding-top: 21px;
		padding-left: 15px;
		padding-right: 15px;
		height: 100vh;
	}
	.optionHolder {
		position: fixed;
	}

	/* .noteControlsLeft {
		visibility: hidden;
		position: static;
		background: hotpink;
		margin-top: 15px;
		
	} */
}

@media (min-width: 736px) {
	.notebutton-left {
		display: none;
	}
}

.notebutton-left {
	padding-left: 15px;
	padding-top: 4px;
}
