.sidebarLeft {
  display: none;
  flex:1.5;
  flex-direction: column;
  height: 100vh;
 
  margin-top: 0px;
}

@media (min-width: 736px) {
  .sidebarLeft {
    display: inline-flex;
    background-image:linear-gradient( #d2fdff, white);
    min-width: fit-content;
    max-width:175px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
  }

}

/* @media (min-width: 800px) {
  .sidebarLeft {
    background-color: green;

  }
} */

