.sidebar-option {
	text-decoration: none;
	margin-left: 16px;
	margin-right: 30px;
	margin-bottom: 0px;
	margin-top: 18px;
	font-size: small;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	height: 25px;
	display: flex;
	align-items: center;
	word-wrap: break-word;
}
/* small mode */
@media (max-width: 736px) {
	.sidebar-option {
		/* height: 19px;  */
		margin-top: 22px;
		word-break: keep-all;
	}
}
/* big mode */
/* @media (min-width: 737px) {
	.button-div {
		position: fixed;
	}
} */

.icon {
	padding-right: 10px;
	padding-bottom: 2px;
	height: 20px;
}

/* .icon:hover {
	color: #f29220;
} */
