.header {
	/* background-color: #f4976c; */
	background-color: rgb(41, 50, 60);
	/* background-image:linear-gradient(-90deg, #d8d8da, white); */
	text-align: center;
	padding-top: 0.9vh;
	height: 110px;
	position: sticky;
	top: 0;
	/* align-items: center; */
	box-shadow: 1px 1px 3px 4px rgb(23, 28, 34);
}

img {
	width: 110px;
	display: flex;
	position: flex-start;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
