.mineLink_container {
	color: rgb(42, 135, 211);
	background-color: rgb(30, 36, 43);
	padding: 20px;
	margin: 1px;
	flex: 7;
	overflow: hidden;
	box-shadow: 1px 3px 3px rgb(4, 15, 28);
	border-radius: 10px;
	height: fit-content;
}
.mineLink_container:hover {
	/* box-shadow: 0px 0px 1px 2px rgb(10, 133, 227); */
	position: x 10px;
	background-color: rgb(41, 49, 59);
}

.mine-id {
	color: #ed890f;
	font-size: medium;
	font-family: monospace;
	margin-bottom: 0px;
	margin-right: 0px;
	float: right;
}

.home-bookmarkLink {
	color: #f29220;
	font-size: large;
	margin-top: 5px;
	font-family: monospace;
}

.createdAt {
	color: #c7c5c5;
	font-size: small;
	font-family: monospace;
}

.title {
	margin-bottom: 0px;
	margin-top: 0px;
	word-break: keep-all;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 0px;
	font-size: large;
	color: #dcdcdc;
}
