.new-note-form {
	color: rgb(42, 135, 211);
	margin: 25px;
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.link-input,
.note-input,
.title-input {
	background-color: rgb(118, 118, 118);
	color: black;
	border: none;
	padding: 15px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	font-family: monospace;
	font-size: medium;
}

.note-input {
	height: 60px;
	resize: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.controls-container {
	align-content: space-between;
	flex-direction: row;
}

.add-note-button,
.update-note-button,
.cancel-editnote-button {
	margin-left: 20px;
	text-decoration: none;
	align-self: center;
	/* text-decoration: inherit; */
	color: rgb(24, 29, 24);
	font-size: small;
	font-weight: bold;
	padding: 10px;
	background-color: rgb(53, 131, 56);
	border-radius: 8px;
	font-family: 'IBM Plex Sans', sans-serif;
	cursor: pointer;
}

.add-note-button {
	background-color: rgb(53, 131, 56);
}

.cancel-editnote-button {
	background-color: rgb(131, 53, 53);
}

/* .update-note-button{
  background-color:  rgb(53, 131, 56);
  color:black;
  margin-left: 20px;
  text-decoration: none;
  align-self: center;
  text-decoration: inherit;
  color: rgb(24, 29, 24);
  font-size: small;
  font-weight: bold;
  padding: 10px;
  background-color:  rgb(53, 131, 56);;
  border-radius: 8px;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: alias;
}  */
