.noteCard {
	background-color: rgb(30, 36, 43);
	/* background-color: rgb(40, 48, 58); */
	/* background-image: linear-gradient(45deg, rgb(30, 36, 43), rgb(40, 48, 58)); */
	margin: 20px;
	margin-left: 30;
	margin-right: 30;
	padding: 30px;
	padding-top: 25;
	display: flex;
	flex-direction: column;
	flex-wrap: auto;
	overflow: auto;
	word-wrap: break-word;
	box-shadow: 1px 1px 1px rgb(12, 16, 24);
	/* border-radius: 25px 0px 0px 25px; */
	border-right: solid 2px #209ef2;
}

.note-card-title {
	color: white;
	margin-top: 0px;
	margin-bottom: 5px;
	/* font-family: 'Titillium Web', sans-serif; */
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	font-size: large;
	font-weight: bolder;
}

.noteId {
	display: flex;
	margin-left: 15px;
	margin-top: 4px;
	padding-right: 10px;
	color: #c7c5c5;
	font-size: small;
	font-weight: normal;
	word-break: break-all;
	font-family: monospace;
}

.noteLink {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #729ca5;
	font-size: large;
	font-weight: normal;
	text-decoration: inherit;
	word-break: break-all;
	font-family: monospace;
}

.noteBody {
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	/* font-family: 'Titillium Web', sans-serif; */
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	line-height: 16pt;
	font-size: medium;
}

.NoteCard__controls {
	/* background-color: #5186aa; */
	color: white;
	display: flex;
	align-items: baseline;
	justify-content: right;
	padding-left: 90px;
	margin-top: 20px;
	font-size: 13px;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
}
.NoteCard__controls--edit,
.NoteCard__controls--delete {
	text-decoration: none;
	color: white;
	font-size: small;
	font-weight: bold;
	font-family: 'IBM Plex Sans', sans-serif;
	padding: 10px;
	padding-bottom: 8px;
	border-top: solid 1px grey;
	margin-left: 20px;
	cursor: pointer;
	display: inline-block;
}

.NoteCard__controls--edit:hover {
	color: rgb(30, 36, 43);
	background-color: rgb(182, 179, 179);
	border-top: solid 1px rgb(182, 179, 179);
}

.NoteCard__controls--delete:hover {
	color: rgb(30, 36, 43);
	background-color: rgb(172, 65, 65);
	border-top: solid 1px rgb(172, 65, 65);
}

.NoteCardColorAndIdWrapper {
	display: flex;
}

.colorIndicator__NoteCard {
	padding-bottom: 10px;
	background-color: #209ef2;
	margin-bottom: 10px;
	height: 6px;
	width: 50px;
	border-radius: 10px;
	cursor: pointer;
	margin-left: -1px;
}
