.mine {
	background-color: rgb(41, 50, 60);
	align-content: center;
	display: flexbox;
	flex: 7;
	flex-direction: column;
	padding: 10px;
	padding-top: 130px;
	overflow: scroll;
	height: fit-content;
}

@media (min-width: 736px) {
	.read-main {
		height: fit-content;
	}
}

.card {
	background-color: rgb(30, 36, 43);
	margin: 20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: auto;
	overflow: auto;
	word-wrap: break-word;
	min-height: fit-content;
	box-shadow: 1px 1px 1px rgb(12, 16, 24);
	border-radius: 15px 15px 15px 15px;
	border: solid 1px #b5b5b5;
}

.mine-card-title {
	/* color: rgb(30, 36, 43); */
	color: white;
	/* background-color: #f29220; */
	/* background-color: #f29220; */
	font-size: x-large;
	margin-bottom: 10px;
	margin-top: 0px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bolder;
	padding: 3px;
	padding-top: 0px;
	padding-left: 0px;
	border-radius: 2px;
}

.bookmarkLink {
	margin-bottom: 10px;
	/* color: #f29220; */
	color: #729ca5;
	font-size: large;
	font-weight: normal;
	text-decoration: inherit;
	word-break: break-all;
	font-family: monospace;
}

a {
	margin-bottom: 10px;
	color: white;
	font-size: large;
	font-weight: normal;
	text-decoration: inherit;
	word-break: break-all;
	font-size: 15px;
}

.item-details {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.created-at,
.updated-at {
	display: flex;
	color: #c7c5c5;
	font-size: small;
	font-weight: normal;
	word-break: break-all;
	font-family: monospace;
}

.mine-id {
	display: flex;
	margin-left: 15px;
	margin-top: 4px;
	color: #c7c5c5;
	font-size: small;
	font-weight: normal;
	word-break: break-all;
}

.body {
	padding-bottom: 20px;
	padding-top: 5px;
	font-size: medium;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	line-height: 16pt;
}

hr {
	height: 0px;
	color: rgb(222, 222, 222);
	border: 0;
	border-top: 1px solid #8c8c8c;
	border-bottom: 1px solid #fff;
}

.controls {
	color: white;
	display: flex;
	align-items: baseline;
	justify-content: right;
	padding-left: 90px;
	margin-top: 20px;
	font-size: 13px;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
}
.edit-button,
.delete-button {
	/* justify-self: right; */
	text-decoration: none;
	/* color: rgb(24, 29, 24); */
	color: white;
	font-size: small;
	font-weight: bold;
	font-family: 'IBM Plex Sans', sans-serif;
	padding: 10px;
	padding-bottom: 8px;
	/* background-color: #c7c5c5; */
	/* background-color: rgb(24, 29, 24); */
	/* border-radius: 20px; */
	border-top: solid 1px grey;
	margin-left: 20px;
	cursor: pointer;
	word-break: keep-all;
}

.edit-button:hover {
	color: rgb(30, 36, 43);
	background-color: rgb(182, 179, 179);
	/* border-top: solid 1px rgb(30, 36, 43); */
	border-top: solid 1px rgb(182, 179, 179);
}

.delete-button:hover {
	color: rgb(30, 36, 43);
	background-color: rgb(172, 65, 65);
	/* border: solid 1px rgb(30, 36, 43); */
	border-top: solid 1px rgb(172, 65, 65);
}

.MineCardColorAndIdWrapper {
	display: flex;
}
.colorIndicator__MineCard {
	padding-bottom: 10px;
	background-color: #f29220;
	margin-bottom: 10px;
	margin-left: -1px;
	height: 6px;
	width: 50px;
	border-radius: 10px;
	cursor: pointer;

	/* align-self: flex-end; */
}
@media (max-width: 735px) {
	.mine {
		padding-top: 0;
		padding-bottom: 0;
		height: fit-content;
	}
}
