
.read-main {
  background-color: #687e8a ;
  align-content: center;
  /* height:100vh; */
  display: flexbox;
  flex: 7;
  flex-direction: column;
  padding: 10px;
  overflow: scroll;
  height: fit-content;
}

@media (min-width: 736px) {
  .read-main {
    height: fit-content;
  }
}


.card {
  background-color: lightblue;
  margin:  25px;
  margin-bottom: 0px;
  padding:  30px;
  display: flex;
  flex-direction: column;
  flex-wrap: auto;
  overflow: auto;
  word-wrap: break-word;
  min-height: fit-content;
}


h1 {
  font-size:x-large;
  margin-bottom: 5px;
  margin-top:0px;
}


a {
  margin-bottom: 10px;
  color:gray;
  font-size: smaller;
  font-weight: lighter;
  text-decoration: inherit;
  word-break: break-all;
}


.item-details {
 display: flex;
 align-items: baseline;
 justify-content: space-between;
}


.created-at, .updated-at {
  display: flex;
  color: gray;
  font-size: smaller;
  font-weight: lighter;
  word-break: break-all;
  
}


.mine-id {
  display: flex;
  /* margin-bottom: 10px; */
  margin-left: 15px;
  color:gray;
  font-size: smaller;
  font-weight: lighter;
  word-break: break-all;
}


.body {
  margin-bottom: 20px;
  font-size: medium;
  color: black;
}

.controls{
  
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 15px
}
