.read-main {
	background-color: rgb(41, 50, 60);
	align-content: center;
	/* height:100vh; */
	display: flexbox;
	flex: 7;
	flex-direction: column;
	padding: 10px;
	padding-top: 0px;
	overflow: scroll;
	height: fit-content;
}

@media (min-width: 736px) {
	.read-main {
		height: fit-content;
	}
}

.card {
	background-color: rgb(30, 36, 43);
	margin: 20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: auto;
	overflow: auto;
	word-wrap: break-word;
	min-height: fit-content;
	box-shadow: 1px 1px 1px rgb(12, 16, 24);
	border-radius: 15px;
}

.mine-card-title {
	color: rgb(30, 36, 43);
	background-color: #f29220;
	font-size: x-large;
	margin-bottom: 10px;
	margin-top: 0px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bolder;
	padding: 3px;
	padding-left: 5px;
	border-radius: 2px;
}

.bookmarkLink {
	margin-bottom: 10px;
	color: #f29220;
	font-size: large;
	font-weight: normal;
	text-decoration: inherit;
	word-break: break-all;
	font-family: monospace;
}

a {
	margin-bottom: 10px;
	color: white;
	font-size: large;
	font-weight: normal;
	text-decoration: inherit;
	word-break: break-all;
	font-size: 15px;
}

.item-details {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.created-at,
.updated-at {
	display: flex;
	color: #c7c5c5;
	font-size: small;
	font-weight: normal;
	word-break: break-all;
	font-family: monospace;
}

.mine-id {
	display: flex;
	margin-left: 15px;
	color: #c7c5c5;
	font-size: small;
	font-weight: normal;
	word-break: break-all;
}

.body {
	padding-bottom: 20px;
	padding-top: 5px;
	font-size: medium;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	line-height: 16pt;
}

hr {
	height: 0px;
	color: rgb(222, 222, 222);
	border: 0;
	border-top: 1px solid #8c8c8c;
	border-bottom: 1px solid #fff;
}

.controls {
	color: white;
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
	margin-top: 15px;
	font-size: 13px;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
}
