
.read-main {
  background-color:   rgb(41, 50, 60);
  align-content: center;
  /* height:100vh; */
  display: flexbox;
  flex: 7;
  flex-direction: column;
  padding: 10px;
  overflow: scroll;
  height: fit-content;
  
  
  
}

@media (min-width: 736px) {
  .read-main {
    height: fit-content;
  }
}


.card {
  /* background: linear-gradient(45deg, #ffffff,#ecebe7 ); */
  background-color: rgb(30, 36, 43);
  /* margin:  25px; */
  margin: 20px;
  padding:  30px;
  display: flex;
  flex-direction: column;
  flex-wrap: auto;
  overflow: auto;
  word-wrap: break-word;
  min-height: fit-content;
  box-shadow: 3px 3
  px 3px 1px  rgb(20, 24, 29);
  /* box-shadow: 0px 0px 10px 8px rgb(170, 169, 169);
  /* border: 4px solid  #838281; */
  border-radius: 15px;
  
}


.mine-card-title {
  /* background-color: rgb(42, 135, 211); */
  color: #fcfcfc;
  font-size: x-large;
  margin-bottom: 5px;
  margin-top:0px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family:  Roboto,  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  
}

.bookmarkLink {
  
  margin-bottom: 10px;
  color: #F29220;
  font-size: small;
  font-weight: normal;
  text-decoration: inherit;
  word-break: break-all;
}



a {
  margin-bottom: 10px;
  color:  #131313;
  font-size: medium;
  font-weight: normal;
  text-decoration: inherit;
  word-break: break-all;
}


.item-details {
 display: flex;
 align-items: baseline;
 justify-content: space-between;
}


.created-at, .updated-at {
  display: flex;
  color: rgb(128, 128, 128);
  font-size: small;
  font-weight: normal ;
  word-break: break-all;
  
}


.mine-id {
  display: flex;
  /* margin-bottom: 10px; */
  margin-left: 15px;
  color: rgb(51, 152, 240);
  font-size: small;
  font-weight: normal ;
  word-break: break-all;
}


.body {
  margin-bottom: 0px;
  font-size: medium;
  color: white;
    /* font-family: monospace; */
  
}

hr{
  
  height: 0px;
  color: rgb(222, 222, 222);
  /* box-shadow: 1px 1px 5px 1px rgb(216, 215, 215); */
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

.controls{
  
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 15px
}
