.home-main {
	background-color: rgb(41, 50, 60);
	align-content: center;
	display: flex;
	flex: 7;
	flex-direction: column;
	padding: 10px;
	padding-bottom: 0;
	padding-top: 150px;
	height: fit-content;
}

@media (min-width: 736px) {
	.home-main {
		height: fit-content;
	}
}
@media (max-width: 735px) {
	.home-main {
		padding-top: 0;
	}
}
