.home-main{
  background-color: #687e8a ;
  align-content: center;
  display: inline-flex;
  flex: 7;
  flex-direction: column;
  padding: 10px;
  height: fit-content;
}

@media (min-width: 736px) {
  .home-main {
    height: fit-content;
  }

}

.bookmarkLink{
  color: gray;
  font-size: medium;
  font-weight: lighter ;
}